@import "../../constants/theme-color.module";

%button {
  cursor: pointer;
}

.navigation {
  background-color: $primary-color;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.prevNext {
  @extend %button;
  color: $accent-color;
  font-family: $font-fa;
  font-size: 12px;
  padding: 12px;
  font-weight: 700;
  text-transform: uppercase;

}

.mainNav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 100%;
}

.modeSelector {
  @extend %button;
  color: white;
  font-family: $font-fa;
  font-size: 18px;
  font-weight: 900;
  text-transform: uppercase;
  display: flex;
  align-items: center;

  svg {
    opacity: 0.5;
    size: 12px;
  }
}

.dropDownMenu {
  color: $grey-theme;
  padding: 5px;
}

.modeButton {
  @extend %button;
  display: inline-block;
  font-family: $font-fa;
  font-size: 14px;
  font-weight: 800;
  text-align: center;
  padding: 7px 12px;
  border: 1px solid $grey-theme;
  border-radius: 30px;
  width: 103px;

}

.modeButton + .modeButton {
  margin-left: 6px;
}